body{
    background-color: grey; 
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.header {
    margin: auto;
    background-color: white;
    text-align: center;
}
.header h1{
    margin: 0;
    height: 50px;
}
.post{
    background-color: white;
    width: 600px;
    height: 500px;
    margin: auto;
}
.post-header{
    display: flex;
    padding: 10px;
}
.p1{
    float: inline-start;
    width: 90%;
}
.p2{
    opacity: 0.5;
    width: 10%;
}

.post img{
    width: 100%;
    height: 300px;
}
.comentario{
    margin: auto;
    text-align: justify;
    font-size: 15px;
    padding: 10px;

}